@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Open+Sans&family=Oswald:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(255, 254, 190);
    background: linear-gradient(0deg, rgba(255, 254, 190, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 15%;
}

section {
    display: flex;
    height: 100vh;
    background-image: url("media/dualipa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.logo {
    width: 150px;
    cursor: pointer;
}

/* https: //codepen.io/sreisner/pen/yOOOjx */
.nav-link {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: rgb(29, 29, 14);
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 1;
}

.nav-link:hover {
    opacity: 0.75;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: rgb(29, 29, 14);
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
    border-radius: 50px;
}

.nav-link-ltrac::before {
    width: 100%;
    bottom: 10px;
    border-radius: 50px;
}

.nav-link-ltr:hover::before {
    width: 100%;
    border-radius: 50px;
}

.spotifyknopje {
    font-size: 16px;
    font-weight: bolder;
    padding: 14px 35px;
    background-color: rgb(29, 29, 14);
    border: none;
    color: white;    
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.spotifyknopje:hover {
    padding: 14px 90px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7.5% 15%;

}

/* https: //www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 5%;
    /* Place the button at the bottom of the page */
    right: 15%;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #252422;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 16px;
    /* Some padding */
    border-radius: 50px;
    /* Rounded corners */
    font-size: 16px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

/* typografie */

h1, h2 {
    font-size: 64px;
    color: #252422;
    font-family: 'Oswald', sans-serif;
    line-height: 1.1;
    padding-bottom: 10px;
    overflow-y: hidden;

}

h3 {
    font-size: 32px;
    color: #252422;
}

h4 {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #252422;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(29, 29, 14);
}

.over {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
}

.overvideo {
    margin-top: 2%;
    max-width: 60%;
    background-color: #252422;
}

.favonummers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7.5% 15%;
    text-align: center;
}

.drienummers {
    margin-top: 2%;
    display: flex;
    gap: 4%;
    justify-content: space-between;

}

.contentlinks {
    width: 50%;
}

.contentlinks button {
    margin-top: 1%;
}

.contentrechts {
    width: 30%;
}

.contentrechtsover {
    width: 50%;
}

.duapicca {
    max-width: 60%;
    float: right;
}

.homepagevideo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7,5% 15%;
}

.aboutsexy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7, 5% 15%;
}

footer {
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(62, 62, 62, 1) 100%);        
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 3% 15%;
    margin-top: 5%;
}

.footer__headline {
    color: white;}


.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.footer__list a, li {
    color: white;
    text-decoration: none;
}

.footer__list {
    margin-top: 10%;
}

.sociallink {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3%;
}

.socialicon {
    width: 20px;
}

.minifooter {
    display: flex;
    color: white;
    background-color: black;
    padding: 1% 0;
}

.kopierijt {
    color: white;
    margin: 0 15%;
    font-size: 16px;
}

@media(max-width: 500px) {

    header {
        margin: 7.5% 7.5%;
    }

    header .knopje {
        display: none;
    }

    main {
        flex-direction: column;
        align-content: center;
    }

        h1,
        h2 {
            font-size: 50px;
            color: #252422;
    
        }

                

        .over {
            margin: 0 7.5%;
        }

    .contentlinks {
        width: 100%;
        margin-bottom: 5%;
    }

    .contentrechts {
        width: 100%;
    }

        .homepagevideo {
            display: flex;

            align-items: start;
            flex-direction: column;
            margin: 7.5% 7.5%;
        }

                .aboutsexy {
                    display: flex;
        
                    align-items: start;
                    flex-direction: column;
                    margin: 7.5% 7.5%;
                }

        .contentrechtsover {
            width: 100%;
        }

        .duapicca {
            max-width: 80%;
       
        }

        .overvideo {
            max-width: 100%;
        }

    footer {
        flex-direction: column;
        padding: 3% 7.5%;
    }

        .footer__headline {
            margin-top: 10%;
        }

                .footer__list {
                    margin-top: 3%;
                }

                .spotifyknopje {
                    display: none;
                }

               

                .minifooter {
                    padding: 3% 0;
                }

                .sociallink {
                    margin: 0;
                }

        .navbar {
            display: none;
        }

        .ham {
            display: block;
            width: 40px;
        }
        .favonummers {
            text-align: start;
            margin: 7.5% 7.5%;
        }
                .drienummers {
                    display: flex;
                    flex-direction: column;        
                }

                .drienummers iframe {
                    margin-top: 5%;
                }
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: black;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #12002F;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1f103F;

    color: #FFF;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #24104f;
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

.button {
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: inline-block;
    color: #FFF;
    font-size: 20px;
    background-color: #FF9FDB;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    @media (max-width: 767px) {
        font-size: 18px;
    }
}